.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;

  .content-area {
    flex: 1;
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 60px; /* Space for fixed footer */
    overflow-y: auto; /* Enables vertical scrolling for the content */

    .section {
      padding-right: 10px;

      h3 {
        font-size: 18px;
        color: #fff;
        text-align: center;
      }
    }

    .matches-section {
      width: 100%;
      max-width: 550px; /* Adjust as necessary */
      margin: auto;
      overflow: auto;
    }

    .match-cards {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #0d1117;
      border: 1px solid #85909b; /* Add border */
      border-radius: 8px;
      margin: 10px;
      padding: 10px;

      &:hover {
        transform: scale(1.02); /* Slight hover effect */
        transition: transform 0.3s ease;
      }
    }

    .match-image {
      width: 100%; /* Full width of card */
      height: 300px; /* Increased height for the image */
      object-fit: contain; /* Ensures the full image is shown */
      border-radius: 4px;
    }

    .match-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      margin-top: 10px;

      p {
        margin: 0;
      }

      .countdown {
        font-weight: bold;
        font-size: 1.2em;
        color: rgb(228, 60, 60); /* Red color for countdown */
      }
    }
  }

  @media screen and (max-width: 768px) {
    .content-area {
      .matches-section {
        max-width: 90%; /* Shrink content for smaller screens */
      }

      .match-card {
        padding: 8px; /* Reduce padding */
      }

      .match-image {
        height: 250px; /* Reduced height for medium screens */
        object-fit: contain; /* Ensure full image is visible */
      }

      .match-details {
        .countdown {
          font-size: 1em; /* Reduce font size */
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .content-area {
      .matches-section {
        max-width: 100%; /* Use full width */
      }

      .match-card {
        padding: 6px; /* Slightly smaller padding */
      }

      .match-image {
        height: 200px; /* Further reduce image height for small screens */
        object-fit: contain; /* Ensure full image is visible */
      }

      .match-details {
        .countdown {
          font-size: 0.9em; /* Smaller font size for mobile */
        }
      }
    }
  }
}
