.payment-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    height: 100vh;
    
  
    .payment-card {
      margin-top: 20px;
      width: 100%;  
      max-width: 400px;
      background-color: #001529;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .payment-headers{
      color: white;
    }
  
    .payment-value {
      display: block;
      font-size: 16px;
      margin-top: 4px;
      color:white;
    }
  
    .pending {
      color: red;
    }
  }
  
  @media (max-width: 768px) {
    .payment-card {
      padding: 15px;
      max-width: 100%;
    }
  
    .payment-value {
      font-size: 14px;
    }
  }
  