.player-stats {
  padding:0px;
  .ant-tabs-nav {
    .ant-tabs-tab {
      font-size: 16px; // Tab font size
      margin: 0 25px; // Remove any default margin
      padding: 0; // Remove any default padding
    }
  }

  .match-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    font-size: 8px;
  }

  .match-name {
    font-size: 8px; // Match name font size
    font-weight: bold;
    margin: 0; // Remove margin
    padding: 0; // Remove padding

  }

  .total-amount {
    margin-top: 16px; // Adjust if needed
    font-size: 18px; // Total amount font size
    font-weight: bold;
    text-align: center; // Align total amount to the right
    padding: 0; // Remove padding
    margin: 0; // Remove margin
    background-color: yellow;
    height:50px;
    width: 300px;
    padding:10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .total-amount-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-name-container{
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .text{
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
  }

  .ant-list-item {
    padding: 0; // Remove default padding for list items
  }

  .ant-list-item-meta {
    margin: 0; // Remove default margin for list item meta
  }

  .ant-list-item-meta-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0; // Remove margin from avatar images
  }

  @media (max-width: 768px) {
    .ant-list-item-meta-avatar img {
      width: 30px;
      height: 30px;
    }

    .match-name {
      font-size: 16px; // Smaller font size for mobile
      margin: 0; // Remove margin
      padding: 0; // Remove padding
    }

    .total-amount {
      font-size: 12px; // Smaller total amount font size for mobile
      margin: 0; // Remove margin
      padding: 0; // Remove padding
      height: 50px;
      width:200px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image-name-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .total-amount-container{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media (max-width: 576px) {
    .ant-list-item-meta-avatar img {
      width: 24px;
      height: 24px;
    }

    .match-name {
      font-size: 14px; // Smaller font size for mobile
      margin: 0; // Remove margin
      padding: 0; // Remove padding
    }
    

    .total-amount {
      font-size: 10px; // Smaller total amount font size for mobile
      margin: 0; // Remove margin
      padding: 0; // Remove padding
      background-color: yellow;
      height:20px;
      width: 200px;
      padding:10px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image-name-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .total-amount-container{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
