.pending-payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  
    .payment-card {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      text-align: center;
      border-radius: 8px;
      background-color: rgb(12, 12, 12);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
      .payment-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
  
      .status-pending {
        font-size: 24px;
        color: #FF6F61;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .payment-info {
        font-size: 16px;
        color: #f8f4f4;
        margin-bottom: 10px;
      }
  
      .redirect-info {
        font-size: 14px;
        color: #f8f4f4;
        margin-bottom: 20px;
      }
  
      .done-button {
        width: 100%;
        background-color: #FFC107;
        border-color: #FFC107;
        font-weight: bold;
        font-size: 16px;
  
        &:hover {
          background-color: #FFB300;
          border-color: #FFB300;
        }
      }
  
      .thank-you {
        margin-top: 20px;
        font-size: 14px;
        color: #333;
      }
    }
  }
  
  // Mobile responsiveness
  @media (max-width: 576px) {
    .pending-payment-container {
      padding: 10px;
  
      .payment-card {
        padding: 15px;
  
        .status-pending {
          font-size: 20px;
        }
  
        .payment-info, .redirect-info {
          font-size: 14px;
        }
  
        .done-button {
          font-size: 14px;
        }
  
        .thank-you {
          font-size: 12px;
        }
      }
    }
  }
  