.side-menu {
    .menu-icon-button {
      padding: 0;
      background: none;
      border: none;
      color: white; // Set the menu icon color to white
  
      .menu-icon {
        font-size: 24px; // Increase the size of the menu icon
      }
    }
  
    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .username {
        margin-left: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  
    .balance-info {
      margin-bottom: 20px;
  
      .balance-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .balance-amount {
        margin-bottom: 10px;
      }
  
      .balance-actions {
        display: flex;
        gap: 10px;
      }
    }
  
    .ant-list-item {
      cursor: pointer;
      padding: 10px 0;
    }
  
    .ant-list-item:hover {
      background-color: #f0f0f0;
    }
  }
  
  @media (max-width: 768px) {
    .side-menu {
      .username {
        font-size: 16px;
      }
  
      .balance-info {
        .balance-title {
          font-size: 14px;
        }
  
        .balance-actions {
          flex-direction: column;
        }
      }
  
      .ant-list-item {
        padding: 8px 0;
      }
    }
  }
  