.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .nav-item {
      text-align: center;
      color: white;

      p {
        margin: 0;
        font-size: 12px;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
