.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to right, #1c3a56, #005f73); // Updated gradient background
  justify-content: center;

  .logo {
    margin-bottom: 10px;

    img {
      max-width: 140px;

      @media (max-width: 480px) {
        max-width: 120px;
      }
    }
  }

  h2 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 1.3rem;
    }

    @media (max-width: 480px) {
      font-size: 1.2rem;
    }
  }

  .login-form {
    width: 100%;
    max-width: 400px;
    background-color: #08273b;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-input {
      height: 45px;
      font-size: 14px;
    }

    .ant-form-item-control-input-content {
      height: 42px;
    }

    .forgot-password {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;

      a {
        color: #daff33;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .Create-Account {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      a {
        color: #fdfdfa;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login-button {
      width: 100%;
      background-color: #fadb14;
      border-color: #fadb14;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      height: 48px;
      padding: 10px;

      &:hover {
        background-color: #d4b106;
        border-color: #d4b106;
      }
    }
  }
}

// Responsive Media Queries
@media (max-width: 1024px) {
  .login-container {
    padding: 30px;
  }

  .login-form {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .login-container {
    padding: 20px;
  }

  .login-form {
    max-width: 320px;
    padding: 25px;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 15px;
  }

  .login-form {
    max-width: 90%; // Allows the form to take most of the screen width on small devices
    padding: 20px;
  }

  h2 {
    font-size: 1.1rem;
  }

  .login-button {
    height: 45px;
    font-size: 15px;
  }

  .forgot-password {
    font-size: 14px;
  }
}

// Ensure all elements respect the box-sizing rule
*,
*::before,
*::after {
  box-sizing: border-box;
}
