.top-sixer-scorer-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  min-height: calc(100vh - 150px); // Adjusting for header and footer height
  margin-top: 50px;

  .option-section {
  

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #f4f6f8; // Matches the DreamSix theme
      margin-bottom: 15px;
      margin-left: 22px;
    }

    .card {
      width: 300px;
      height: 300px;
      border: 2px solid #001529;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
      }

      .team-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

// Mobile responsiveness
@media (max-width: 768px) {
  .top-sixer-scorer-page {
    flex-direction: column;
    align-items: stretch;

    .option-section {
      .card {
        width: 90%;
        height: auto; // Allow the card to adjust height dynamically
        margin: 0 auto;
      }
    }
  }
}
